@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&family=Yeseva+One&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.container {
  /* width: 1130px; */
  margin: 0 auto;
  width: 80%;
}
.banner {
  margin-top: 10px;
  display: flex;
}
.banner-content {
  width: 45%;
  margin-top: 140px;
  margin-right: 60px;
}

.banner-heading {
  font-family: "Yeseva One", cursive;
  border-left: 4px solid #ff5959;
  border-radius: 4px;
  padding-left: 10px;
}
.banner-heading h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 0 !important;
}
.banner-heading h2 {
  font-size: 60px;
  font-weight: 400;
  color: #ffad5a;
  margin-top: 10px;
}
.banner-content p {
  font-size: 16px;
  color: #777;
  margin-bottom: 50px;
  margin-top: 40px;
}
.button {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background-color: #ff5959;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  width: 80%;
  margin-left: 140px;
}
.my-mission {
  margin-top: 60px;
  margin-bottom: 50px;
}
.my-mission-items {
  display: flex;
}
.my-mission h1 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.orange {
  color: #ffad5a;
}
.mission {
  width: 30%;
  padding: 25px;
  background-color: #edf5f6;
  border-radius: 15px;
  margin-right: 20px;
}
.mission img {
  width: 35%;
}
.mission h4 {
  font-size: 24px;
  margin: 0;
}
.mission p {
  color: #424242;
}
.vision {
  width: 30%;
  padding: 25px;
  background-color: #ffeeee;
  border-radius: 15px;
  margin-right: 20px;
}
.vision img {
  width: 35%;
}
.vision h4 {
  font-size: 24px;
  margin: 0;
}
.vision p {
  font-size: 15px;
  color: #424242;
}
.goals {
  width: 30%;
  padding: 25px;
  background-color: #fff4d6;
  border-radius: 15px;
}
.goals img {
  width: 35%;
}
.goals h4 {
  font-size: 24px;
  margin: 0;
}
.goals p {
  font-size: 15px;
  color: #424242;
}
.develop {
  display: flex;
  margin: 70px 0;
}
.develop-image {
  width: 40%;
  margin-right: 50px;
}
.develop-image img {
  width: 85%;
}
.develop-content {
  width: 50%;
}
.develop-content h1 {
  font-size: 36px;
  color: #333333;
}
.develop-content p {
  margin-bottom: 30px;
}

.community {
  display: flex;
  margin: 70px 0;
}
.community-image {
  width: 40%;
  margin-left: 50px;
}
.community-image img {
  width: 85%;
}
.community-content {
  width: 50%;
  margin-right: 75px;
}
.community-content h1 {
  font-size: 36px;
  color: #333333;
}
.community-content p {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #0b0d17;
  color: white;
}
footer h2 {
  font-family: "Yeseva One";
  font-size: 36px;
  font-style: italic;
}
footer p {
  font-size: 10px;
  color: #9d9d9d;
}
