@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&family=Yeseva+One&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1130px;
  margin: 0 auto;
}
.banner {
  margin-top: 10px;
  display: flex;
}
.banner-content {
  width: 45%;
  margin-top: 140px;
  margin-right: 60px;
}

.banner-heading {
  font-family: "Yeseva One", cursive;
  border-left: 4px solid #ff5959;
  border-radius: 4px;
  padding-left: 10px;
}
.banner-heading h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 0 !important;
}
.banner-heading h2 {
  font-size: 60px;
  font-weight: 400;
  color: #ffad5a;
  margin-top: 10px;
}
.banner-content p {
  font-size: 16px;
  color: #777;
  margin-bottom: 50px;
  margin-top: 40px;
}
.button {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background-color: #ff5959;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  width: 80%;
  margin-left: 140px;
}
